*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body{
  background: lightgrey;
}

.circle{
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: #a8002d;
  color: white;
  border-radius: 50px;
  cursor: pointer;

  /* 1s in transform is the delay */
  /* Linear - same speed, can change ease-in/ease-out etc */
  transition: background 1s, transform 1s 1s linear;
}

.wrapper{
  width: 100%;
  padding: 20px;
}

.circle:hover{
  background: black;
  transform: rotate(360deg);
}
