*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body{
  background: #a8002d;
}

.wrapper{
  width: 100%;
  padding: 20px;
}

img{
  /* transform: translateX(400px); */
  /* transform: scale(0.4); */
  /* transform: rotate(180deg); */
  /* transform: rotateZ(45deg); */


  /* Do it in one statement */
  /********** ORDER MATTERS **********/
  transform: rotateZ(45deg) translateX(400px) scale(1.5);
}
