body{
  background: black;
}

.box{
  background: white;
  height: 200px;
  width: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: 1;

  /* For it to stay as a circle in the end */
  animation-fill-mode: forwards;

  /* animation-delay: 2s; */
  /* animation-direction: alternate; */
  /* animation-timing-function: linear; */
}

/* Color Changing & Position - To Circle */
/* @keyframes myanimation {

    0%{
      background-color: white;
      left: 0px;
      top: 0px;
      border-radius: 0 0 0 0;
    }
    25%{
      background-color: red;
      left: 300px;
      top:0px;
      border-radius: 50% 0 0 0;
    }
    50%{
      background-color: green;
      left:300px;
      top:300px;
      border-radius: 50% 50% 0 0;
    }
    75%{
      background-color: blue;
      left:0px;
      top:300px;
      border-radius: 50% 50% 50% 0;
    }
    100%{
      background-color: white;
      left:0px;
      top:0px;
      border-radius: 50% 50% 50% 50%;
    }


} */

/* ONLY SQUARE TO CIRCLE*/
@keyframes myanimation {

    0%{
      background-color: white;
      border-radius: 0 0 0 0;
    }
    25%{
      background-color: red;
      border-radius: 50% 0 0 0;
    }
    50%{
      background-color: green;
      border-radius: 50% 50% 0 0;
    }
    75%{
      background-color: blue;
      border-radius: 50% 50% 50% 0;
    }
    100%{
      background-color: white;
      border-radius: 50% 50% 50% 50%;
    }


}
